# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://ismbhsudxsgfhmqtzgtk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzbWJoc3VkeHNnZmhtcXR6Z3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODc3ODkwMDgsImV4cCI6MjAwMzM2NTAwOH0.yqmSMyd3nNx0vdvlzDMn49tUGgPtyyYrIfE_ECSdKyQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzbWJoc3VkeHNnZmhtcXR6Z3RrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY4Nzc4OTAwOCwiZXhwIjoyMDAzMzY1MDA4fQ.uXAwnZBpG0YxsWuyfTkdA1dQu_0WlL7ZUtYx9-GyQrI

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51NNPp1CnP43sfXnjZLSqKJWPau7iTS78KsGvkiOY6Mbb9WDMeEqS413suukATgEWq3URwBKb0xqGSjbVqpuNGnnb00SFHXumKR
STRIPE_SECRET_KEY=sk_test_51NNPp1CnP43sfXnjPKiE1675sGbzZEWjq9SdcYBkVNqEofb9HhKe1p7EAb7UF961XZ39KyAVYzY60mv9RxYiIXSd00wDwUrmiH
STRIPE_WEBHOOK_SECRET=whsec_57990f19209a6c7c994043eb5d34c904452c97b7ea7c410955a2023d4e92e064
